{
  "arrowParens": "always",
  "semi": true,
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 100,
  "singleAttributePerLine": true,
  "noImplicitAny": false
}